body {
    padding-top:30px;
    position: relative;
    margin: 0;
}

[v-cloak] {
    display: none;
}

span.select2:nth-child(4) {
    width: 80% !important;
}

footer {
    /*position: absolute;*/
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    width: 100%;
    margin-top: 3%;
    padding: 2%;
    background: lightgrey;
    border-color: darkgray;
}