li.parsley-required,
li.parsley-type,
li.parsley-equalto, 
li.parsley-minlength, 
li.parsley-maxlength,
li.parsley-length,
li.parsley-filemimetypes{
    padding-top: 5px;
    color:red;
 
}

/*.formButtons {
    padding: 10px 15px 10px;
    border-radius: 0px;
}*/


